@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to TU Exam Portal</h1>
    <p class="lead">This is a simple portal to manage your exam registrations, check results, and more.</p>
    <hr class="my-4">
    <p>Use the navigation bar to explore the sections.</p>
</div>
<img style="width: 1600px; height: 700px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsaralnotes.com%2Fwp-content%2Fuploads%2F2019%2F10%2FTribhunvan-University.jpg&f=1&nofb=1&ipt=c263d8db6e3e3063c7a81dce93a2c33cee76323a5ecea7052189a0bfbb1e371c&ipo=images" class="img-fluid" alt="Wild Landscape" />